SECRET_KEY=django-insecure-po!xf%-2j6y(k(bq8@efa%6x^48^ra*dncar3ibq=)jnx$2b5i
DEBUG=True
LANGUAGE_CODE=en-us
TIME_ZONE=UTC

DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_NAME=
DB_PASSWORD=
DB_USERNAME=
DB_HOST=
DB_PORT=